<div class="card">
    <div class="card-header">
        <h4>Add Categories</h4>
    </div>
        <div class="card-body">
            <form method="POST" action="">
                <div class="form-group">
                    <label for="txtStudentID">Ma hoc sinh</label>
                    <input type="text" class="form-control" id="txtStudentID" name="txtStudentID" autofocus>
                    <label for="txtName">Ho va ten</label>
                    <input type="text" class="form-control" id="txtName" name="txtName">
                    <label for="txtClass">Lop</label>
                    <input type="text" class="form-control" id="txtClass" name="txtClass">
                    <label for="txtGender">Gioi tinh</label>
                    <input type="text" class="form-control" id="txtGender" name="txtGender">
                    <label for="txtBirth">Ngay sinh</label>
                    <input type="text" class="form-control" id="txtBirth" name="txtBirth">
                    <label for="txtAddress">Dia chi</label>
                    <input type="text" class="form-control" id="txtAddress" name="txtAddress">
                    <label for="txtEmail">Email</label>
                    <input type="text" class="form-control" id="txtEmail" name="txtEmail">
                    <label for="txtAccount">Ma tai khoan</label>
                    <input type="text" class="form-control" id="txtAccount" name="txtAccount">
                </div>
                <a class="btn btn-success" href="/admin/students" role="button">
                    <i class="fa fa-backward"></i>
                    Back
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save</button>
                </form>
        </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
{{#section 'title'}}
- Add Student
{{/section}}

{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
{{/section}}

{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $('#txtBirth').datetimepicker({
        format: 'Y-m-d',
        timepicker: false,
        mask: true,
    });

    function validate(){
        return true;
    }
</script>
{{/section}}